<h2>Create new deck</h2>

<%= form_for @deck do |form| %>
    <div class="input">
        <%= form.label :name %>
        <%= form.text_field :name %>
    </div>
    <div class="input">
        <%= form.label :description %>
        <%= form.text_field :description %>
    </div>
    <div class="input">
        <%= form.label :cards %>
        <%= form.text_area :cards %>
    </div>
    <div class="input">
        <%= form.submit %>
    </div>
<% end %>
