<h2>Deck: <%= @deck.name %></h2>

<p><%= @deck.description %></p>
<p>Card count: <%= @deck.cards.count %></p>

<% if @card.present? %>
    <p>Card drawn: <%= @card.name %></p>
<% end %>

<div class="actions">
    <%= button_to "Draw card", deck_draw_path(@deck.id), disabled:  @deck.cards.empty? %>
</div>
