<!DOCTYPE html>
<html>
    <head>
        <title>Thingofmanydecks</title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
        <div class="ui container">
            <h1 class="ui headers">Thing of many decks</h1>
            <% flash.each do |name, msg| -%>
                <div class="ui positive message">
                    <%= content_tag :p, msg %>
                </div>
            <% end -%>
            <%= yield %>
        </div>
    </body>
</html>
